.contact {
  font-family: var(--font-primary);
  &-heading {
    font-size: 2rem;
    color: var(--color-accent);
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;

  //tablet, desktop
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20%;

    &-heading {
      font-size: 1.5rem;
      letter-spacing: 3.5%;
      line-height: 1.5;
      max-width: 60%;
    }
  }
}
