.logo {
  color: var(--color-primary-light);

  font-family: var(--font-primary);
  font-size: 1.375rem;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: capitalize;

  span {
    color: var(--color-accent);
  }

  //tablet, desktop
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}
